<div *ngIf="applyCondition=='Technician'">
  <form nz-form #websitebannerPage="ngForm" >

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
  <!-- <nz-checkbox-group name="type" [(ngModel)]="checkOptionsOne"></nz-checkbox-group> -->
  <div class="check-container">
    <div
      class="checkbox-container"
      *ngFor="let option of checkOptionsOne"
    >
      <label
        nz-checkbox
        [(ngModel)]="option.checked"
        [nzValue]="option.value"
        class="chapter-checkbox"
        [ngModelOptions]="{ standalone: true }"
      >
        {{ option.label }}
      </label>
    </div>

  </div>
      </div>
    </div>

     <div nz-row>
      <div   nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">

        <nz-form-label nzRequired nzNoColon>Skills</nz-form-label>

      <div class="check-container">
          <div
            class="checkbox-container"
            *ngFor="let skill of skillData"
          >
            <label
              nz-checkbox
              [(ngModel)]="selectedSkills[skill.ID]"
              [nzValue]="skill.ID"
              class="chapter-checkbox"
              [ngModelOptions]="{ standalone: true }"
            >
            {{ skill.NAME }}
            </label>
          </div>

        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-form-label nzRequired nzNoColon>Type</nz-form-label>

      <div class="check-container">
          <div
            class="checkbox-container"
            *ngFor="let option of checkOptionsTwo"
          >
            <label
              nz-checkbox
              [(ngModel)]="option.checked"
              [nzValue]="option.value"
              class="chapter-checkbox"
              [ngModelOptions]="{ standalone: true }"
            >
              {{ option.label }}
            </label>
          </div>

        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Pincode</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Select Pincode">
            <nz-select
              nzAllowClear="true"
              nzPlaceHolder="Select Pincode"
              name="PINCODE_ID"
              [(ngModel)]="PINCODE_ID"
              nzShowSearch
              required
              nzMode="multiple"
            [nzMaxTagCount]="3"
            >
              <nz-option
                *ngFor="let data of pincodeData"
                [nzValue]="data.ID"
                [nzLabel]="data.PINCODE"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>

<div style="margin-top: 10px" *ngIf="applyCondition == 'order'">
  <form nz-form #orderbannerPage="ngForm">
    <div nz-row>
      <!-- Category Select -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>Category</nz-form-label>
          <nz-form-control nzErrorTip="Select Category">
            <nz-select
              name="CATEGORY_ID"
              nzPlaceHolder="Select Category"
              nzShowSearch
              style="width: 100%"
              [(ngModel)]="CATEGORY_ID"
              nzAllowClear="true"
              required
              [nzLoading]="categoryLoading"
            >
              <nz-option
                *ngFor="let data of categoryData"
                [nzValue]="data.ID"
                [nzLabel]="data.CATEGORY_NAME"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Subcategory Select -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>Sub Category</nz-form-label>
          <nz-form-control nzErrorTip="Select Sub Category">
            <nz-select
              name="SUBCATEGORY_ID"
              nzPlaceHolder="Select Sub Category"
              nzShowSearch
              style="width: 100%"
              [(ngModel)]="SUBCATEGORY_ID"
              nzAllowClear="true"
              required
              [nzLoading]="subCategoryLoading"
            >
              <nz-option
                *ngFor="let data of subcategoryData"
                [nzValue]="data.ID"
                [nzLabel]="data.NAME"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Territory Select -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>Territory</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select Territory">
            <nz-select
              name="TERITORY_ID"
              nzPlaceHolder="Select Territory"
              nzShowSearch
              [(ngModel)]="TERITORY_ID"
              nzAllowClear="true"
              required
              nzMode="multiple"
              [nzMaxTagCount]="2"
              [nzLoading]="territoryLoading"
            >
              <nz-option
                *ngFor="let data of territoryData"
                [nzValue]="data.ID"
                [nzLabel]="data.NAME"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Service Name  -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Service Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Service Name">
            <input
              nz-input
              name="NAME"
              placeholder="Enter Service Name"
              required
              autocomplete="off"
              [(ngModel)]="NAME"
              #nameField="ngModel"
              (keypress)="commonFunction.alphaOnly($event)"
              maxlength="128"
            />
            <h6
              style="color: red; font-size: 10px"
              *ngIf="NAME != undefined && NAME != null && NAME != ''"
            >
              {{ NAME.length }}/128
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Order Date -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Select From and To Date">
            <nz-form-label nzRequired nzNoColon>Order Date</nz-form-label>
            <nz-range-picker
              style="width: 100%"
              [nzFormat]="dateFormat"
              (nzOnCalendarChange)="changeDate($event)"
              name="selectedDate"
              [(ngModel)]="selectedDate"
              required
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Expected Date -->
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Select Expected From and To Date"
          >
            <nz-form-label nzRequired nzNoColon>Expected Date</nz-form-label>
            <nz-range-picker
              style="width: 100%"
              [nzFormat]="dateFormat"
              (nzOnCalendarChange)="changeDate($event)"
              name="selectedDate"
              [(ngModel)]="selectedDate"
              required
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div style="margin-top: 10px" *ngIf="applyCondition == 'jobcard'">
  <form nz-form #orderbannerPage="ngForm">
    <div nz-row>




       <!-- Date -->
       <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Select From and To Date">
          <nz-form-label nzRequired nzNoColon> Date</nz-form-label>
          <nz-range-picker
            style="width: 100%"
            [nzFormat]="dateFormat"
            (nzOnCalendarChange)="changeDate($event)"
            name="selectedDate"
            [(ngModel)]="selectedDate"
            required

          ></nz-range-picker>
        </nz-form-control>
        </nz-form-item>
      </div>

        <!-- Estimation Time -->
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Estimation Time (mins)</nz-form-label>
            <div nz-row>
              <!-- Minimum Time Selector -->
              <div nz-col nzSpan="10">
                <nz-form-control nzErrorTip="Select Min Time">
                  <nz-select
                    name="min-time"
                    nzAllowClear
                    nzShowSearch="true"
                    nzPlaceHolder="Select Min Time"
                    style="width: 100%"
                    [(ngModel)]="MIN_TIME"
                    (ngModelChange)="onMinTimeChange($event)"
                  >
                    <nz-option
                      *ngFor="let time of minTimeRange"
                      [nzValue]="time"
                      [nzLabel]="time + ' mins'"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>

              <!-- Separator -->
              <div
                nz-col
                nzSpan="4"
                style="text-align: center; font-weight: bold; padding-top: 5px;"
              >
                To
              </div>

              <!-- Maximum Time Selector -->
              <div nz-col nzSpan="10">
                <nz-form-control nzErrorTip="Select Max Time">
                  <nz-select
                    name="max-time"
                    nzAllowClear
                    nzShowSearch="true"
                    nzPlaceHolder="Select Max Time"
                    style="width: 100%"
                    [(ngModel)]="MAX_TIME"
                  >
                    <nz-option
                      *ngFor="let time of minTimeRange"
                      [nzValue]="time"
                      [nzLabel]="time + ' mins'"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
            </div>
          </nz-form-item>
        </div>


          <!-- Customer Select -->
       <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired>Customer Name</nz-form-label>
          <nz-form-control nzErrorTip="Select Customer Name">
            <nz-select
              name="CUSTOMER_ID"
              nzPlaceHolder="Select Customer Name"
              nzShowSearch
              style="width: 100%"
              [(ngModel)]="CUSTOMER_ID"
              nzAllowClear="true"
              required
              [nzLoading]="customerLoading"
            >
              <nz-option
                *ngFor="let data of customerData"
                [nzValue]="data.ID"
                [nzLabel]="data.NAME"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

       </div>


        <!-- Pincode Select -->
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Pincode</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Select Pincode">
            <nz-select
              nzAllowClear="true"
              nzPlaceHolder="Select Pincode"
              name="PINCODE_ID"
              [(ngModel)]="PINCODE_ID"
              nzShowSearch
              required
              nzMode="multiple"
              [nzMaxTagCount]="3"
            >
              <nz-option
                *ngFor="let data of pincodeData"
                [nzValue]="data.ID"
                [nzLabel]="data.PINCODE"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </div>
    </form>
</div>

<div class="footer">
  <button
    nz-button
    nzType="default"
    (click)="close()"
    class="ant-btn"
    style="margin-right: 12px"
  >
    Cancel
  </button>

  <button
    nz-button
    nzType="primary"
    (click)="applyFilter()"
    class="ant-btn"
    style="margin-right: 12px"
  >
    Apply Filter
  </button>
</div>
