<div>
    <div class="header">
        <button type="button" nz-button (click)="close(accountMasterPage)" class="ant-btn"><i nz-icon nzType="close"
                nzTheme="outline"></i></button>
    </div>
    <form nz-form #accountMasterPage="ngForm">
        <nz-spin [nzSpinning]="isSpinning">


           
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon> Category</nz-form-label>

                            <nz-form-control nzHasFeedback nzErrorTip="Please Select  Category">
                                <nz-select nzShowSearch nzPlaceHolder="Select  Category" name="Tax"
                                    [(ngModel)]="data.CATEGORY_ID">
                                    <nz-option *ngFor="let role of categories" [nzValue]="role.ID" [nzLabel]="role.NAME">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Subcategory Name</nz-form-label>

                            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Subcategory Name">
                                <input nz-input autocomplete="off" placeholder="Enter Subcategory Name"
                                    (keypress)="alphaOnly($event)" maxlength="128" name="name"
                                    [pattern]="namepatt" [(ngModel)]="data.NAME" required />
                            </nz-form-control>
                            <h6 style="color: red; font-size: 10px" *ngIf="
                            data.NAME != undefined &&
                            data.NAME != null &&
                            data.NAME != ''
                          ">
                  {{ data.NAME.length }}/128
              </h6>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzNoColon>Description</nz-form-label>
                            <nz-form-control>
                                <textarea nz-input rows="2" name="description"    maxlength="1024" [(ngModel)]="data.DESCRIPTION"
                                    ></textarea>
                                    <h6
                                    style="color: red; font-size: 10px"
                                    *ngIf="
                                      data.DESCRIPTION != undefined &&
                                      data.DESCRIPTION != null &&
                                      data.DESCRIPTION != ''
                                    "
                                  >
                                    {{ data.DESCRIPTION.length }}/1024
                                  </h6>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>

                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzNoColon>Image </nz-form-label>
                            <nz-form-control nzErrorTip="Select Logo.">
                                <button nz-button style="height: 28px; padding: 0px 7px; font-size: 12px;width: 100%;"
                                    (click)="fileInput.click()">Upload Image
                                    <input #fileInput name="image" type="file" (change)="onFileSelected($event)"
                                        style="display: none;" required />
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col nzSpan="23" *ngIf="fileURL!=null"
                            style="overflow: hidden; padding-left: 11px; font-size: 13px;">
                            {{fileURL.name}}
                        </div>
                        <div *ngIf="imgUrl != null">
                            {{imgUrl.name }}

                            <p nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Remove Image"
                                nzTooltipPlacement="top" nz-tooltip
                                style="cursor: pointer;color: red;margin-top: 10px;" (click)="removeImage()">
                            </p>
                        </div>
                    </div>
                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzNoColon>Status</nz-form-label>

                            <nz-form-control>
                                <nz-switch name="Status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                                [(ngModel)]="data.IS_ACTIVE">
                              </nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div> 


        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button style="margin-right: 8px;" class="ant-btn" style="margin-right: 8px;"
            (click)="close(accountMasterPage)"><span>Cancel</span></button>

        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false,accountMasterPage)"><span>Save & Close</span></button>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true,accountMasterPage)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>

        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false,accountMasterPage)"><span>Update & close</span></button>
    </div>
</div>