<div>
  <div class="my-box">
    <form nzLayout="vertical">
      <nz-form-item
        ><nz-form-label nzRequired nzNoColon>Type</nz-form-label>
        <nz-form-control
          ><nz-radio-group [(ngModel)]="data.TYPE" name="employmentType">
            <label nz-radio nzValue="O">On payroll</label>
            <label nz-radio nzValue="V">Vendor Managed</label>
            <label nz-radio nzValue="F">Freelancer</label>
          </nz-radio-group></nz-form-control
        >
      </nz-form-item>
    </form>
  </div>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <div style="margin-top: 10px" class="my-box">
        <form nz-form #websitebannerPage="ngForm">
          <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Technician Name</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Please Enter Technician Name">
                    <input
                      nz-input
                      placeholder="Enter Technician Name"
                      name="technicianName"
                      [(ngModel)]="data.NAME"
                      pattern="^[A-Za-z0-9 ]+$"
                      #name="ngModel"
                      maxlength="128"
                      required
                      autocomplete="off"
                    />
                    <h6
                      style="color: red; font-size: 10px"
                      *ngIf="
                        data.NAME != undefined &&
                        data.NAME != null &&
                        data.NAME != ''
                      "
                    >
                      {{ data.NAME.length }}/128
                    </h6>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="14">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Email</nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Please Enter Email"
                  >
                    <input
                      nz-input
                      name="email"
                      [(ngModel)]="data.EMAIL_ID"
                      autocomplete="off"
                      placeholder="Enter Email"
                      [pattern]="commonFunction.emailpattern"
                      maxlength="128"
                      required
                    />
                    <h6
                      style="color: red; font-size: 10px"
                      *ngIf="
                        data.EMAIL_ID != undefined &&
                        data.EMAIL_ID != null &&
                        data.EMAIL_ID != ''
                      "
                    >
                      {{ data.EMAIL_ID.length }}/128
                    </h6>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="10">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Mobile No.</nz-form-label>
                  <nz-form-control nzErrorTip="Please Enter Valid Mobile No.">
                    <nz-input-group nzAddOnBefore="+91">
                      <input
                        nz-input
                        name="MOBILE_NUMBER"
                        required
                        [(ngModel)]="data.MOBILE_NUMBER"
                        autocomplete="off"
                        placeholder="Enter Mobile No."
                        [pattern]="commonFunction.mobpattern"
                        maxlength="10"
                        minlength="10"
                        (keypress)="omit($event)"
                      />
                    </nz-input-group>

                    <!-- Displaying mobile number length dynamically -->
                    <h6
                      style="color: red; font-size: 10px"
                      *ngIf="
                        data.MOBILE_NUMBER != undefined &&
                        data.MOBILE_NUMBER != null &&
                        data.MOBILE_NUMBER != ''
                      "
                    >
                      {{ data.MOBILE_NUMBER.length }}/10
                    </h6>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Gender</nz-form-label>
                  <nz-radio-group [(ngModel)]="data.GENDER" name="gender">
                    <label nz-radio nzValue="M">Male</label>
                    <label nz-radio nzValue="F">Female</label>
                  </nz-radio-group>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Birth Date</nz-form-label>
                  <nz-form-control nzErrorTip="Birth Date Required">
                    <nz-date-picker
                      name="DOB"
                      nzPlaceHolder="Birth Date"
                      [(ngModel)]="data.DOB"
                      required
                      [nzDisabledDate]="commonFunction.disabledAfterDate"
                      style="width: 100%"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Aadhaar No.</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Please Enter Aadhaar No.">
                    <input
                      nz-input
                      name="AADHAR_NUMBER"
                      required
                      [(ngModel)]="data.AADHAR_NUMBER"
                      autocomplete="off"
                      placeholder="Enter Mobile No."
                      [pattern]="commonFunction.aadharpattern"
                      maxlength="12"
                      minlength="12"
                    />
                    <!-- <input
                      nz-input
                      placeholder="Enter Aadhaar No."
                      name="AADHAR_NUMBER"
                      required
                      [(ngModel)]="data.AADHAR_NUMBER"
                      #name="ngModel"
                      pattern="commonFunction.aadharpattern"
                      maxlength="12"
                      autocomplete="off"
                    /> --><span
                      style="
                        color: red;
                        font-size: 10px !important;
                        display: block;
                        margin-top: 5px;
                      "
                    >
                      e.g.234567891234
                    </span>
                    <div *ngIf="name.invalid && name.touched">
                      <small *ngIf="name.errors?.['required']">
                        Aadhaar is required.
                      </small>
                      <small *ngIf="name.errors?.['pattern']">
                        Invalid Aadhaar number. Please enter a 12-digit number
                        starting with 2-9.
                      </small>
                    </div>
                    <h6
                      style="color: red; font-size: 10px"
                      *ngIf="
                        data.AADHAR_NUMBER != undefined &&
                        data.AADHAR_NUMBER != null &&
                        data.AADHAR_NUMBER != ''
                      "
                    >
                      {{ data.AADHAR_NUMBER.length }}/12
                    </h6>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Experience Level</nz-form-label
                  >
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Select Experience Level"
                  >
                    <nz-select
                      name="EXPERIENCE_LEVEL"
                      nzPlaceHolder="Select Experience Level"
                      nzShowSearch
                      style="width: 100%"
                      [(ngModel)]="data.EXPERIENCE_LEVEL"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      nzAllowClear
                    >
                      <nz-option
                        *ngFor="let experience of EXPERIENCE_LEVEL"
                        [nzValue]="experience.Id"
                        [nzLabel]="experience.Name"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="12" *ngIf="data.TYPE === 'V'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Vendor Name</nz-form-label
                  >
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Select Vendor Name"
                  >
                    <nz-select
                      name="chapterId"
                      nzPlaceHolder="Select Vendor Person"
                      nzShowSearch
                      style="width: 100%"
                      [(ngModel)]="data.VENDOR_ID"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      nzAllowClear=""
                      maxlength="128"
                    >
                      <nz-option
                        *ngFor="let data of VenderData"
                        [nzValue]="data.ID"
                        [nzLabel]="data.NAME"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="data.TYPE === 'F'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Contract Start Date</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Contract Start Date Required">
                    <nz-date-picker
                      name="CONTRACT_START_DATE"
                      nzPlaceHolder="Contract Start Date"
                      [(ngModel)]="data.CONTRACT_START_DATE"
                      required
                      style="width: 100%"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="data.TYPE === 'F'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Contract End Date</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Contract End Date Required">
                    <nz-date-picker
                      name="CONTRACT_END_DATE"
                      nzPlaceHolder="Contract End Date"
                      [(ngModel)]="data.CONTRACT_END_DATE"
                      required
                      [nzDisabledDate]="disableWeekEndDate"
                      style="width: 100%"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzNoColon>Status</nz-form-label>
                  <nz-form-control>
                    <nz-switch
                      nzCheckedChildren="Active"
                      nzUnCheckedChildren="Inactive"
                      [(ngModel)]="data['IS_ACTIVE']"
                      [ngModelOptions]="{ standalone: true }"
                    ></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <!--           
          <div nz-row></div> -->
          </nz-spin>
        </form>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div class="my-box">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzNoColon nzRequired>Address Line 1</nz-form-label>
              <nz-form-control nzErrorTip="Please Enter Address Line 1">
                <input
                  nz-input
                  placeholder="Enter Address Line 1"
                  name="Address1"
                  required
                  [(ngModel)]="data.ADDRESS_LINE1"
                  maxlength="512"
                  autocomplete="off"
                />
                <h6
                  style="color: red; font-size: 10px"
                  *ngIf="
                    data.ADDRESS_LINE1 != undefined &&
                    data.ADDRESS_LINE1 != null &&
                    data.ADDRESS_LINE1 != ''
                  "
                >
                  {{ data.ADDRESS_LINE1.length }}/512
                </h6>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzNoColon>Address Line 2</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="Enter Address Line 2"
                  name="Address2"
                  [(ngModel)]="data.ADDRESS_LINE2"
                  #name="ngModel"
                  maxlength="512"
                  autocomplete="off"
                />
                <h6
                  style="color: red; font-size: 10px"
                  *ngIf="
                    data.ADDRESS_LINE2 != undefined &&
                    data.ADDRESS_LINE2 != null &&
                    data.ADDRESS_LINE2 != ''
                  "
                >
                  {{ data.ADDRESS_LINE_2.length }}/512
                </h6>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Country</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Select Country Name">
                <nz-select
                  name="countryId"
                  nzPlaceHolder="Select Country Name"
                  nzShowSearch
                  style="width: 100%"
                  [(ngModel)]="data.COUNTRY_ID"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="getStatesByCountry(data.COUNTRY_ID, false)"
                  required
                  nzAllowClear=""
                >
                  <nz-option
                    *ngFor="let data of CountryData"
                    [nzValue]="data.ID"
                    [nzLabel]="data.NAME"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>State</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Select State Name">
                <nz-select
                  name="stateId"
                  nzPlaceHolder="Select State Name"
                  nzShowSearch
                  style="width: 100%"
                  [(ngModel)]="data.STATE_ID"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="getCitiesByState(data.STATE_ID, false)"
                  required
                  nzAllowClear=""
                >
                  <nz-option
                    *ngFor="let data of StateData"
                    [nzValue]="data.ID"
                    [nzLabel]="data.NAME"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>City</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Select City Name">
                <nz-select
                  name="cityId"
                  nzPlaceHolder="Select City Name"
                  nzShowSearch
                  style="width: 100%"
                  [(ngModel)]="data.CITY_ID"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="getPincodesByCity(data.CITY_ID, false)"
                  required
                  nzAllowClear=""
                >
                  <nz-option
                    *ngFor="let data of CityData"
                    [nzValue]="data.ID"
                    [nzLabel]="data.NAME"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Pincode </nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Select Pincode ">
                <nz-select
                  name="pincode"
                  nzPlaceHolder="Select Pincode"
                  nzShowSearch
                  style="width: 100%"
                  [(ngModel)]="data.PINCODE_ID"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  nzAllowClear=""
                >
                  <nz-option
                    *ngFor="let data of PincodeData"
                    [nzValue]="data.ID"
                    [nzLabel]="data.PINCODE + ' (' + data.PINCODE + ')'"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px" class="my-box">
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzNoColon nzRequired
                >Is he/she having own vehicle?</nz-form-label
              >
              <nz-form-control>
                <nz-switch
                  nzCheckedChildren="Yes"
                  nzUnCheckedChildren="No"
                  [(ngModel)]="data['IS_OWN_VEHICLE']"
                  [ngModelOptions]="{ standalone: true }"
                ></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12" *ngIf="data['IS_OWN_VEHICLE']">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Vehicle Type</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Select Vehicle Type">
                <nz-select
                  name="chapterId"
                  nzPlaceHolder="Select Vehicle Type"
                  nzShowSearch
                  style="width: 100%"
                  [(ngModel)]="data.VEHICLE_TYPE"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  nzAllowClear=""
                >
                  <nz-option
                    *ngFor="let data of VehicleData"
                    [nzValue]="data.ID"
                    [nzLabel]="data.NAME"
                  >
                    ></nz-option
                  >
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row *ngIf="data['IS_OWN_VEHICLE']">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon
                >Vehicle Details</nz-form-label
              >
              <nz-form-control nzErrorTip="Please Enter vehicle Details">
                <input
                  nz-input
                  placeholder="Enter Vehicle Details"
                  name="name"
                  required
                  [(ngModel)]="data.VEHICLE_DETAILS"
                  #name="ngModel"
                  maxlength="512"
                  autocomplete="off"
                />
                <h6
                  style="color: red; font-size: 10px"
                  *ngIf="
                    data.VEHICLE_DETAILS != undefined &&
                    data.VEHICLE_DETAILS != null &&
                    data.VEHICLE_DETAILS != ''
                  "
                >
                  {{ data.VEHICLE_DETAILS.length }}/512
                </h6>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row *ngIf="data['IS_OWN_VEHICLE']">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Vehicle No.</nz-form-label>
                <nz-form-control nzErrorTip="Please Enter Vehicle No.">
                  <input
                    nz-input
                    placeholder="Enter Vehicle No."
                    name="name"
                    required
                    [(ngModel)]="data.VEHICLE_NO"
                    #name="ngModel"
                    maxlength="10"
                    minlength="10"
                    autocomplete="off"
                    pattern="^[A-Z]{2}[0-9]{2}[A-Z]{1,2}[0-9]{1,4}$"
                  />
                  <span
                    style="
                      color: red;
                      font-size: 10px !important;
                      display: block;
                      margin-top: 5px;
                    "
                  >
                    e.g.MH10AB4385
                  </span>
                  <h6
                    style="color: red; font-size: 10px"
                    *ngIf="
                      data.VEHICLE_NO != undefined &&
                      data.VEHICLE_NO != null &&
                      data.VEHICLE_NO != ''
                    "
                  >
                    {{ data.VEHICLE_NO.length }}/10
                  </h6>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button
    type="button"
    nz-button
    (click)="close()"
    class="ant-btn"
    style="margin-right: 8px"
  >
    <span>Cancel</span>
  </button>

  <button
    type="button"
    class="ant-btn ant-btn-primary"
    *ngIf="!data.ID"
    nz-button
    nz-dropdown
    [nzDropdownMenu]="menu"
    [nzLoading]="isSpinning"
    (click)="save(false, websitebannerPage)"
  >
    <span>Save & Close</span>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        class="menuc"
        style="border-radius: 4px; background-color: #40a9ff"
      >
        <a style="color: white" (click)="save(true, websitebannerPage)"
          >Save & New</a
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <button
    type="button"
    class="ant-btn ant-btn-primary"
    nz-button
    [nzLoading]="isSpinning"
    *ngIf="data.ID"
    (click)="save(false, websitebannerPage)"
  >
    <span>Update & close</span>
  </button>
</div>
