<div>
  <form nz-form #inventorycategorymaster="ngForm">

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Category Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Category Name">
            <input nz-input name="name" placeholder="Enter Category Name" required [(ngModel)]="data.CATEGORY_NAME"
              #nameField="ngModel" (keypress)="commonFunction.alphaOnly($event)" maxlength="128" />
            <h6 style="color: red; font-size: 10px" *ngIf="
                                      data.CATEGORY_NAME != undefined &&
                                      data.CATEGORY_NAME != null &&
                                      data.CATEGORY_NAME != ''
                                      ">
              {{data.CATEGORY_NAME.length}}/128</h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Description</nz-form-label>
          <nz-form-control nzErrorTip="Please Enter Description">
            <textarea nz-input rows="2" name="description" placeholder="Enter Description" required=""
              [(ngModel)]="data.DESCRIPTION" #description="ngModel" maxlength="512"></textarea>
            <br />
            <h6 style="color: red; font-size: 10px" *ngIf="
              data.DESCRIPTION != undefined &&
              data.DESCRIPTION != null &&
              data.DESCRIPTION != ''
            ">
              {{ data.DESCRIPTION.length }}/512
            </h6>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>



    <div nz-row>
      <div nz-col nzXs="14">

        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Sequence Number">
            <nz-input-number disabled style="width: 100%;" name="seqno" [(ngModel)]="data.SEQ_NO" [nzMin]="1"
              [nzStep]="1" required>
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>
          <nz-form-control>
            <nz-switch name="status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.IS_ACTIVE"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="footer">
  <button nz-button nzType="default" (click)="close()" class="ant-btn" style="margin-right: 12px">
    Cancel
  </button>

  <button nz-button *ngIf="!data.ID" nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzLoading]="isSpinning"
    (click)="save(false, inventorycategorymaster)" class="ant-btn ant-btn-primary">
    Save & Close
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
        <a class="footer-button" style="color: white" (click)="save(true, inventorycategorymaster)">Save & New</a>
      </li>
    </ul>
  </nz-dropdown-menu>

  <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
    (click)="save(false, inventorycategorymaster)">
    <span>Update & Close</span>
  </button>
</div>