<div>
	<form #accountMasterPage="ngForm"
		nz-form>
		<nz-spin [nzSpinning]="isSpinning">

			<!-- Inventory Details Section -->
			<div nz-row>

				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
						      Type
						</nz-form-label>

						<nz-form-control nzHasFeedback
							nzErrorTip="Please Select Valid Type">
							<nz-select [(ngModel)]="data.TYPE"
								nz-input
								name="type"
								nzPlaceHolder="Select Type"
								nzAllowClear
								style="width: 100%;">
								<nz-option *ngFor="let item of typelist"
									[nzValue]="item.ID"
									[nzLabel]="item.NAME"></nz-option>
							</nz-select>
						</nz-form-control>
						<!-- <h6 style="color: red; font-size: 10px" *ngIf="
                                      data.NAME != undefined &&
                                      data.NAME != null &&
                                      data.NAME != ''
                                    ">
                            {{ data.NAME.length }}/128
                        </h6> -->
					</nz-form-item>
				</div>
				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
						 Item
						</nz-form-label>

						<nz-form-control nzHasFeedback
							nzErrorTip="Please Select Valid Item">
							<nz-select [(ngModel)]="data.ITEM_ID"
								nz-input
								name="selectsubcat"
								nzPlaceHolder="Select Inventory Item"
								nzAllowClear
								style="width: 100%;">
								<nz-option *ngFor="let item of itemslist"
									[nzValue]="item.ID"
									[nzLabel]="item.NAME"></nz-option>
							</nz-select>
						</nz-form-control>
						<!-- <h6 style="color: red; font-size: 10px" *ngIf="
                                  data.NAME != undefined &&
                                  data.NAME != null &&
                                  data.NAME != ''
                                ">
                        {{ data.NAME.length }}/128
                    </h6> -->
					</nz-form-item>
				</div>
			</div>
			<div nz-row>

				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
							Unit Cost
						</nz-form-label>

						<nz-form-control>
							<nz-input-group nzAddOnBefore="₹">
								<input [(ngModel)]="data.UNIT_COST"
									(keypress)="omit($event)"
									name="unitcost"
									nz-input
									maxlength="10"
									placeholder="Enter Unit Cost">
							</nz-input-group>
						</nz-form-control>
						<h6 *ngIf="
                                      data.UNIT_COST != undefined &&
                                      data.UNIT_COST != null &&
                                      data.UNIT_COST != ''
                                    "
							style="color: red; font-size: 10px">
							{{ data.UNIT_COST.length }}/10
						</h6>
					</nz-form-item>
				</div>
				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
							Total Cost
						</nz-form-label>

						<nz-form-control>
							<nz-input-group nzAddOnBefore="₹">
								<input [(ngModel)]="data.TOTAL_COST"
									(keypress)="omit($event)"
									name="totalcost"
									nz-input
									maxlength="10"
									placeholder="Enter Total Cost">
							</nz-input-group>
						</nz-form-control>
						<h6 *ngIf="
                    data.TOTAL_COST != undefined &&
                    data.TOTAL_COST != null &&
                    data.TOTAL_COST != ''
                  "
							style="color: red; font-size: 10px">
							{{ data.TOTAL_COST.length }}/10
						</h6>
					</nz-form-item>
				</div>
			</div>
			<div nz-row>

				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
							Quantity
						</nz-form-label>

						<nz-form-control>
							<input [(ngModel)]="data.QUANTITY"
								(keypress)="omit($event)"
								name="qty1"
								nz-input
								maxlength="10"
								placeholder="Enter Quantity">
						</nz-form-control>
						<h6 *ngIf="
                        data.QUANTITY != undefined &&
                        data.QUANTITY != null &&
                        data.QUANTITY != ''
                      "
							style="color: red; font-size: 10px">
							{{ data.QUANTITY.length }}/10
						</h6>
					</nz-form-item>
				</div>
				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
							 Unit
						</nz-form-label>

						<nz-form-control nzHasFeedback
							nzErrorTip="Please Select Valid Unit">
							<nz-select [(ngModel)]="data.UNIT_ID"
								nz-input
								name="selectunit"
								nzPlaceHolder="Select Unit"
								nzAllowClear
								style="width: 100%;">
								<nz-option *ngFor="let item of UnitList"
									[nzValue]="item.ID"
									[nzLabel]="item.NAME"></nz-option>
							</nz-select>
						</nz-form-control>
						<!-- <h6 style="color: red; font-size: 10px" *ngIf="
                          data.NAME != undefined &&
                          data.NAME != null &&
                          data.NAME != ''
                        ">
                {{ data.NAME.length }}/128
            </h6> -->
					</nz-form-item>
				</div>
			</div>
			<div nz-row>

				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
						     Warehouse
						</nz-form-label>

						<nz-form-control nzHasFeedback
							nzErrorTip="Please Select Valid Warehouse">
							<nz-select [(ngModel)]="data.WAREHOUSE_ID"
								nz-input
								name="selectwarehouse"
								nzPlaceHolder="Select Warehouse"
								nzAllowClear
								style="width: 100%;">
								<nz-option *ngFor="let item of warehouseList"
									[nzValue]="item.ID"
									[nzLabel]="item.NAME"></nz-option>
							</nz-select>
						</nz-form-control>
						<!-- <h6 style="color: red; font-size: 10px" *ngIf="
                                      data.NAME != undefined &&
                                      data.NAME != null &&
                                      data.NAME != ''
                                    ">
                            {{ data.NAME.length }}/128
                        </h6> -->
					</nz-form-item>
				</div>
				<div nz-col
					nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired
							nzNoColon>
							Date
						</nz-form-label>

						<nz-form-control>
							<nz-date-picker [(ngModel)]="data.DATE"
								name="datadate"
								style="width: 100%;"
								nzFormat="dd/MM/yyyy"
								required></nz-date-picker>
						</nz-form-control>

					</nz-form-item>
				</div>
				<!-- <div nz-col
					nzSpan="6">
					<nz-form-item>
						<nz-form-label nzNoColon>Status</nz-form-label>

						<nz-switch [(ngModel)]="data.STATUS"
							style="line-height: 2.2;"
							name="Status"
							nzCheckedChildren="Active"
							nzUnCheckedChildren="Inactive">
						</nz-switch>
					</nz-form-item>
				</div> -->
			</div>
			<div nz-row>

				<div nz-col
					nzSpan="24">
					<nz-form-item>
						<nz-form-label nzNoColon>Remark</nz-form-label>
						<nz-form-control>
							<textarea [(ngModel)]="data.REMARKS"
								nz-input
								rows="3"
								name="remark"
								placeholder="Enter Remark"
								maxlength="512"></textarea>
							<br>
							<h6 *ngIf="data.REMARKS"
								style="font-size: 10px; color: red">
								{{ data.REMARKS.length }}/ 512
							</h6>
						</nz-form-control>
					</nz-form-item>
				</div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                      <nz-form-label nzNoColon>Status </nz-form-label>
        
                      <nz-switch style="line-height: 2.2;" name="Status" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                        [(ngModel)]="data.STATUS">
                      </nz-switch>
                    </nz-form-item>
                  </div> 
			</div>
		</nz-spin>
	</form>
	<div class="footer">
		<button (click)="close(accountMasterPage)"
			type="button"
			nz-button
			class="ant-btn"
			style="margin-right: 8px;">
			<span>Cancel</span>
		</button>

		<button *ngIf="!data.ID"
			[nzLoading]="isSpinning"
			[nzDropdownMenu]="menu"
			(click)="save(false,accountMasterPage)"
			type="button"
			class="ant-btn ant-btn-primary"
			nz-button
			nz-dropdown>
			<span>
				Save &
                Close
			</span>
		</button>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item
					class="menuc"
					style="border-radius: 4px;background-color: #40a9ff;color: #ffffff;">
					<a (click)="save(true,accountMasterPage)">Save & New</a>
				</li>
			</ul>
		</nz-dropdown-menu>

		<button *ngIf="data.ID"
			[nzLoading]="isSpinning"
			(click)="save(false,accountMasterPage)"
			type="button"
			class="ant-btn ant-btn-primary"
			nz-button>
			<span>Update & close</span>
		</button>
	</div>
</div>
