<div nz-row>
 
  <div nz-col nzSpan="12">
    <nz-rate [(ngModel)]="value" nzAllowHalf nzDisabled></nz-rate>
    <span class="ant-rate-text">3 Out Of 5</span>
    <span class="ant-rate-text">3,677 global ratings</span>
 
  </div>
 
  <div nz-col nzSpan="12" style="align-items: end;">
    <div>
     <nz-progress [nzPercent]="52"  [nzStrokeColor]="'Yellow'"></nz-progress>
     <nz-progress [nzPercent]="20" [nzStrokeColor]="'Yellow'"></nz-progress>
     <nz-progress [nzPercent]="7"  [nzStrokeColor]="'Yellow'"></nz-progress>
     <nz-progress [nzPercent]="3" [nzStrokeColor]="'Yellow'"></nz-progress>
     <nz-progress [nzPercent]="19"[nzStrokeColor]="'Yellow'"></nz-progress>
    
    
    </div>
 
 
  </div>
  <nz-divider nzText="Technician Reviews" nzOrientation="left"></nz-divider>
 
  <div nz-col nzSpan="24">
    <nz-comment nzAuthor="Han Solo">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      ></nz-avatar>
      <nz-rate [(ngModel)]="value" nzAllowHalf nzDisabled></nz-rate>
      <nz-comment-content>
        <span>
          We supply a series of design principles, practical patterns and high quality design resources(Sketch and
          Axure), to help people create their product prototypes beautifully and efficiently.
        </span>
      </nz-comment-content>
 
    </nz-comment>
 
    <nz-comment nzAuthor="Han Solo">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      ></nz-avatar>
      <nz-rate [(ngModel)]="value" nzAllowHalf nzDisabled></nz-rate>
      <nz-comment-content>
        <span>
          We supply a series of design principles, practical patterns and high quality design resources(Sketch and
          Axure), to help people create their product prototypes beautifully and efficiently.
        </span>
      </nz-comment-content>
 
    </nz-comment>
 
    <nz-comment nzAuthor="Han Solo">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      ></nz-avatar>
      <nz-rate [(ngModel)]="value" nzAllowHalf nzDisabled></nz-rate>
      <nz-comment-content>
        <span>
          We supply a series of design principles, practical patterns and high quality design resources(Sketch and
          Axure), to help people create their product prototypes beautifully and efficiently.
        </span>
      </nz-comment-content>
 
    </nz-comment>
 
  </div>
 
 
 
</div>