<div nz-row>
  <div nz-col nzSpan="24">
    <div style="position: relative">
      <nz-table
        class="my-scroll no-wrap1"
        nzBordered
        #table
        [nzData]="serviceData"
        [nzSize]="'small'"
        [nzFrontPagination]="false"
        (nzQueryParams)="sort($event)"
        style="white-space: pre-line"
        [nzLoading]="isSpinning"
        [nzScroll]="{ y: '60vh' }"
      >
        <thead>
          <tr>
            <th
              nzWidth="120px"
              nzShowSort
              [nzSortFn]="true"
              nzColumnKey="{{ 'IS_ACTIVE' }}"
            >
              Is Mapped ?
            </th>
            <th
              nzWidth="200px"
              nzShowSort
              [nzSortFn]="true"
              nzColumnKey="{{ 'NAME' }}"
            >
              Service
            </th>
            <th
              nzWidth="130px"
              nzShowSort
              [nzSortFn]="true"
              nzColumnKey="{{ 'IS_AVAILABLE' }}"
            >
              Is Available ?
            </th>
            <th nzWidth="150px">From Time</th>
            <th nzWidth="150px">To Time</th>
            <th nzWidth="300px">Remark</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of table.data; let i = index">
            <!-- Status Switch Column -->
            <td align="center" style="white-space: pre-line">
              <nz-switch
                name="IS_ACTIVE"
                nzCheckedChildren="Yes"
                nzUnCheckedChildren="No"
                [(ngModel)]="data['IS_ACTIVE']"
              ></nz-switch>
            </td>
            <!-- <td style="white-space: pre-line">{{ data.NAME }}</td> -->
            <td align="left">
              <span *ngIf="data['NAME'] != null">
                <span
                  *ngIf="data['NAME'].length >= 20"
                  nz-popover
                  [nzPopoverContent]="data['NAME']"
                  nzPopoverPlacement="topLeft"
                >
                  {{
                    data["NAME"] == null
                      ? "-"
                      : (data["NAME"] | slice : 0 : 20)
                  }}{{ data["NAME"].length > 20 ? "..." : "" }}
                </span>
                <span *ngIf="data['NAME'].length < 20">
                  {{
                    data["NAME"] == null ? "-" : (data["NAME"] | slice : 0 : 20)
                  }}
                  {{ data["NAME"].length > 20 ? "..." : "" }}
                </span>
              </span>
              <span *ngIf="data['NAME'] == null">-</span>
            </td>
            <td align="center" style="white-space: pre-line">
              <nz-switch
                name="IS_AVAILABLE"
                nzCheckedChildren="Yes"
                nzUnCheckedChildren="No"
                [(ngModel)]="data['IS_AVAILABLE']"
              ></nz-switch>
            </td>
            <td style="white-space: pre-line">
              <nz-time-picker
                name="START_TIME{{ i }}"
                [(ngModel)]="data.START_TIME"
                style="width: 100%"
                [nzFormat]="'hh:mm'"
                nzPlaceholder="Select From Time"
              ></nz-time-picker>
            </td>

            <td style="white-space: pre-line">
              <nz-time-picker
                name="END_TIME{{ i }}"
                [(ngModel)]="data.END_TIME"
                style="width: 100%"
                [nzFormat]="'hh:mm'"
                nzPlaceholder="Select To Time"
              ></nz-time-picker>
            </td>
            <td>
              <input
                nz-input
                name="REMARKS"
                placeholder="Enter Remark"
                required
                [(ngModel)]="data.REMARKS"
                maxlength="128"
                autocomplete="off"
              />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<div class="footer">
  <button
    type="button"
    nz-button
    (click)="close()"
    class="ant-btn"
    style="margin-right: 8px"
  >
    <span>Cancel</span>
  </button>

  <button
    type="button"
    class="ant-btn ant-btn-primary"
    nz-button
    [nzLoading]="isSpinning"
    (click)="save()"
  >
    <span>Map & Close</span>
  </button>
</div>
